[user]
	name = Bryce Hawthorne
	email = hawthornebryce@gmail.com
[core]
	editor = vim
	excludesfile = /Users/brycehawthorne/.gitignore_global
[alias]
	co = checkout
	br = branch
    ci = commit
    st = status
	unstage = reset HEAD --
	last = log -1 HEAD
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f